          <div class="event">
              <div class="content">
                <div class="summary"> 
                      <strong><em><%= message.user.username %> :</em> <%= message.body %></strong>
                </div>
              </div>
            </div>
    